 <head>
	
    <!--  <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/> -->
     <link href="{{ url_for('static', filename='fonts/fonts.css') }}" rel="stylesheet" />
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='datatime/css/jedate.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="static/dropzone/css/dropzone.css"/>

      <script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script> 
      <script type="text/javascript" src="static/datatime/js/jquery.jedate.js"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='tuxing/code/highcharts.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='tuxing/code/modules/exporting.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='tuxing/code/modules/oldie.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='tuxing/code/highcharts-zh_CN.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='particles/particles.min.js') }}"></script>
       <script type="text/javascript" src="static/dropzone/js/dropzone.js"></script>

     
    <nav >
     <div class="nav-wrapper #000000 black">
      <a href="#!" class="brand-logo center">Web Automation</a>
      <ul class="right hide-on-med-and-down">
        {% if current_user.is_authenticated %}
	    <li>用户 : {{ current_user.username }}&emsp;</li>
            <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
            <li><a></a></i>
        {% endif %}
     </ul>
   </div>
 </nav>
</head>

{% block body %}
<div id="test" class="row" >
      <div id="left" class="col s2 ">
     <ul class="collapsible popout" data-collapsible="accordion">
    <li>
     <a href="{{ url_for('main.index') }}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">home</i>首页</div></a>
    </li>
    <li>
    <a href="{{ url_for('main.checkip') }}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">place </i>I P 查询</div></a>
    </li>

    <li>
	<a href="{{ url_for('main.listfile')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">swap_vert</i>上传下载</div></a>
    </li>

        <li>
        <a href="{{ url_for('main.update')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">fiber_new</i>版本更新</div></a>
    </li>


     <li>
     <div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">cloud_queue</i>资源管理</div>
      <div class="collapsible-body">
        <ul class="collection">
           <li class="collection-item" style="border:0;">
               <a href="{{ url_for('main.loadcdn') }}" style="color:#000;">同步CDN</a>
           </li>
           <li class="collection-item" style="border:0;">
               <a href="{{ url_for('main.osslist') }}" style="color:#000;">资源存储</a>
           </li>
        </ul>
     </div>
    </li>


    <li>
      <div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">computer</i>主机信息</div>
      <div class="collapsible-body">
	<ul class="collection">
	   <li class="collection-item" style="border:0;">
	       <a href="{{ url_for('main.hostgroup') }}" style="color:#000;">主机分组</a>
           </li>
	   <li class="collection-item" style="border:0;">
	       <a href="{{ url_for('main.host') }}" style="color:#000;">主机管理</a>
	   </li>
        <li class="collection-item" style="border:0;">
	       <a href="{{ url_for('main.datastores') }}" style="color:#000;">数据存储</a>
	   </li>
	</ul>
     </div>
    </li>
    <li>
      <div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">face</i>用户管理</div>
      <div class="collapsible-body">
        <ul class="collection">
            <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.users')}}" style="color:#000;">用户列表</a>
           </li>

           <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.role')}}" style="color:#000;">角色管理</a>
           </li>

           <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.menu')}}" style="color:#000;">菜单管理</a>
           </li>
        </ul>
     </div>
    </li>

     <li>
        <a href="{{ url_for('main.logs')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">folder_open</i>日志审计</div></a>
    </li>
  </ul>
</div>
      <div id="center" class="col s10">
      {% block test %}{% endblock %}
      </div>
</div>
{% endblock %}
<script type="text/javascript">



$(document).ready(function() {
	$(".collection-item").click(function(){
		$(this).find(".active").slideToggle();
		$(this).siblings('.collection-item').find('.active').slideUp();
	});
	});




$('#btn').on('click',function(){
       $('#aa').toggle()
})


$('#last_name').on('focus',function(){
	$(this).attr('placeholder','123');
})

$('#last_name').on('blur',function(){
        $(this).removeAttr('placeholder');
})

 $(document).ready(function(){
    $('.modal').modal();
  });

</script>
