{% extends "base.html" %}
{% block test %}
    <div class="col s2"></div>
     <div class="col s5" style="margin-top: 8%;"> 

 </div>

<div style="margin-top:10%;">
    <HR style="height:2px" width="100%" color="#9e9e9e" SIZE=1>
</div>

<div class="col s1"></div>
<div class="col s10">
<p id="texts" class="flow-text">您当前的IP为:</p>
</div>

<div class="col s4"></div>
<div class="col s4">
    <p id="iptext" class="flow-text" style="font-weight:bold;color:red">{{ client_ip }}</p>
</div>


{% endblock %}
