 <head>
      <link href="{{ url_for('static', filename='fonts/fonts.css') }}" rel="stylesheet" />
       <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

      <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>


    <nav >
     <div class="nav-wrapper #000000 black">
      <a href="#!" class="brand-logo center">Info Manage</a>
      <ul class="right hide-on-med-and-down">
        {% if current_user.is_authenticated %}
            <li>用户 : {{ current_user.username }}&emsp;</li>
            <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
            <li><a></a></i>
        {% endif %}
     </ul>
   </div>
    </nav>


<style> 
.bor{border:1px dashed #F00;width:300px;height:60px;margin-top:10px} 
span{display:block}/*css注释说明：让span形成块*/ 
</style> 


</head>

<body>

<div id="test" class="row">
      <div id="left" class="col s2 ">
     <ul class="collapsible popout" data-collapsible="accordion">
    <li>
     <a href="{{ url_for('.index') }}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">home</i>首页</div></a>
    </li>
    <li>
    <a href="{{ url_for('.checkip') }}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">place </i>I P 查询</div></a>
    </li>

      <li>
	<a href="{{ url_for('main.listfile')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">swap_vert</i>上传下载</div></a>
    </li>
    <li>
	<a href="{{ url_for('.update')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">fiber_new</i>版本更新</div></a>
    </li>

    <li>
     <div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">cloud_queue</i>资源管理</div>
      <div class="collapsible-body">
        <ul class="collection active">
           <li class="collection-item" style="border:0;">
               <a href="{{ url_for('main.loadcdn') }}" style="color:#000;">同步CDN</a>
           </li>
           <li class="collection-item" style="border:0;">
               <a href="{{ url_for('main.osslist') }}" style="color:#000;">资源存储</a>
           </li>
        </ul>
     </div>
    </li>


    <li>
      <div class="collapsible-header active" style="font-weight:bold;background-color:#fff;"><i class="material-icons">computer</i>主机信息</div>
      <div class="collapsible-body">
        <ul class="collection active">
           <li class="collection-item active" style="background-color:#fff;border:0;">
               <a href="{{ url_for('.hostgroup')}}" style="color:#000;">主机分组</a>
           </li>
           <li class="collection-item active" style="background-color:#fff;border:0;">
               <a href="{{ url_for('.host') }}" style="color:#000;">主机管理</a>
           </li>

        </ul>
     </div>
    </li>

      <div class="collapsible-header active" style="font-weight:bold;"><i class="material-icons">face</i>用户管理</div>
      <div class="collapsible-body">
        <ul class="collection active">

            <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.users')}}" style="color:#000;">用户列表</a>
           </li>

	   <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.role')}}" style="color:#000;">角色管理</a>
           </li>

           <li class="collection-item active" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.menu')}}" style="color:#000;">菜单管理</a>
           </li>
        </ul>
     </div>


         <li>
        <a href="{{ url_for('.logs')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">fiber_new</i>日志审计</div></a>
    </li>
  </ul>
</div>

<div class="col s10">
<p>

<div class="row">
<div class="col s1"></div>
<div class="col s3">
  <select id="select1" class="browser-default" size="12" style="width:100%;height:20rem" multiple>
  {% for i in allhost %}
    <option value="{{ i[0] }}">{{ i[1] }}-{{ i[2] }}</option>
  {% endfor %}
  </select>
</div>

<div class="col s2" style="margin-top:100px;width:auto;">
    <a id="add" class="waves-effect waves-light btn" style="font-size: 20px">></a>
    <a id="remove" class="waves-effect waves-light btn" style="font-size: 20px"><</a> 
</div>

<div class="col 0"></div>
<form id="ipform" method="POST">
<div class="col s3">
  <select name="groupip" id="select2" class="browser-default" size="12" style="width:100%;height:20rem" multiple>
  </select>
</div>
</div>

<div class="row">
<div class="col s2"></div>
        <div class="input-field col s5">
          <input name="names" placeholder="输入主机组名称" id="first_name" type="text" class="validate">
          <label for="first_name">名称</label>
        </div>
 </div>

<div class="row">
<div class="col s2"></div>
        <div class="input-field col s5">
          <input name="caomm" placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">备注</label>
        </div>
 </div>
<div class="col s5"></div>
</form>
 <a href="{{ url_for('.groupadd')}}" class="waves-effect waves-light btn">重置</a>
 <a id="addinfo" class="waves-effect waves-light btn">保存</a>
</div>



<script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for i in messages %}
         Materialize.toast('{{ i }}', 5000,'rounded')
      {% endfor %}
  {% endif %}
{% endwith %}

$(function(){
    $("#addinfo").click(function(){
        $("#ipform").submit();
            });
});


//移到右边 
    $('#add').click(function(){ 
        if(!$("#select1 option").is(":selected")){           
            alert("请选择需要移动的选项") 
        } 
        //获取选中的选项，删除并追加给对方 
        else{ 
            $('#select1 option:selected').appendTo('#select2'); 
        }    
    });


 $('#remove').click(function(){
        //先判断是否有选中
        if(!$("#select2 option").is(":selected")){
            alert("请选择需要移动的选项")
        }
        else{
            $('#select2 option:selected').appendTo('#select1');
        }
    });


$(document).ready(function() {
    $('select').material_select();
  });
        

</script>
</body>
