<head>
         <link href="{{ url_for('static', filename='fonts/fonts.css') }}" rel="stylesheet" />
       <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
       <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='ztree/css/metroStyle/metroStyle.css') }}"  media="screen,projection"/>

	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='ztree/js/jquery.ztree.all.js') }}"></script>


    <nav >
     <div class="nav-wrapper #000000 black">
      <a href="#!" class="brand-logo center">Web Automation</a>
      <ul class="right hide-on-med-and-down">
        {% if current_user.is_authenticated %}
            <li>用户 : {{ current_user.username }}&emsp;</li>
            <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
            <li><a></a></i>
        {% endif %}
     </ul>
   </div>
    </nav>

</head>

<div id="test" class="row">
      <div id="left" class="col s2 ">
     <ul class="collapsible popout" data-collapsible="accordion">
    <li>
     <a href="{{ url_for('.index') }}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">home</i>首页</div></a>
    </li>
    <li>
    <a href="{{ url_for('.checkip') }}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">place </i>I P 查询</div></a>
    </li>

      <li>
	<a href="{{ url_for('main.listfile')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">swap_vert</i>上传下载</div></a>
    </li>
    <li>
        <a href="{{ url_for('.update')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">fiber_new</i>版本更新</div></a>
    </li>
     <li>
     <div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">cloud_queue</i>资源管理</div>
      <div class="collapsible-body">
        <ul class="collection active">
           <li class="collection-item" style="border:0;">
               <a href="{{ url_for('main.loadcdn') }}" style="color:#000;">同步CDN</a>
           </li>
           <li class="collection-item" style="border:0;">
               <a href="{{ url_for('main.osslist') }}" style="color:#000;">资源存储</a>
           </li>
        </ul>
     </div>
    </li>


    <li>
      <div class="collapsible-header" style="font-weight:bold;background-color:#fff;"><i class="material-icons">computer</i>主机信息</div>
      <div class="collapsible-body">
        <ul class="collection active">
           <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('.hostgroup')}}" style="color:#000;">主机分组</a>
           </li>
           <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('.host') }}" style="color:#000;">主机管理</a>
           </li>
            <li class="collection-item" style="border:0;">
	       <a href="{{ url_for('main.datastores') }}" style="color:#000;">数据存储</a>
	   </li>
        </ul>
     </div>
    </li>
    <li>
      <div class="collapsible-header active" style="font-weight:bold;"><i class="material-icons">face</i>用户管理</div>
      <div class="collapsible-body">
        <ul class="collection active">

            <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.users')}}" style="color:#000;">用户列表</a>
           </li>

           <li class="collection-item" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.role')}}" style="color:#000;">角色管理</a>
           </li>

           <li class="collection-item active" style="background-color:#fff;border:0;">
               <a href="{{ url_for('main.menu')}}" style="color:#000;">菜单管理</a>
           </li>
        </ul>
     </div>

    </li>

         <li>
        <a href="{{ url_for('.logs')}}" style="color:#000;"><div class="collapsible-header" style="font-weight:bold;"><i class="material-icons">fiber_new</i>日志审计</div></a>
    </li>
  </ul>
</div>
<div class="col s10">
 <SCRIPT LANGUAGE="JavaScript">
   var zTreeObj;
   var setting = {
	 callback: {
             onClick: zTreeOnClick
        },

	data: {
	      simpleData: {
	          enable: true,
		  idKey: "id",
		  pidKey: "pId",
		  rootPId: 0
		}
	}

   };

   var zNodes = [
       {% for i in menuall %}
        {"id":'{{ i.id }}', "pId":{{ i.submenuId }}, "name":'{{ i.name }}',"level":'{{ i.level }}',open: true},
       {% endfor %}

   ];

   $(document).ready(function(){
      zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
   });

   function zTreeOnClick(event,treeId, treeNode) {
     document.getElementById('sub').value=treeNode.id;
     document.getElementById('levels').value=treeNode.level + 1;

   };

  </SCRIPT>
<div class="col s4">
     <ul id="treeDemo" class="ztree"></ul>
</div>

  <div class="row">
    <form id="formmenu" action="/addmenu" class="col s8" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="sub" type="text" name="submenuid" class="validate" value="1" style="display:none">
        </div>
      </div>

        <div class="input-field col s6">
          <input id="levels" type="text" name="level" class="validate" value="1" style="display:none">
        </div>

        <div class="input-field col s6">
          <input id="icon_telephone" type="text" name="flag" value="1" class="validate" style="display:none">
        </div>
   
      <div class="row">
        <div class="input-field col s6">
          <input id="icon_prefix" type="text" name="url" class="validate">
          <label for="icon_prefix">URL</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
	  <input id="icon_telephone" type="text" name="name" class="validate">
          <label for="icon_telephone">名称</label>
        </div>
      </div>
    </form>
  <div class="col s3"></div>
  <a id="neWmenu" class="waves-effect waves-light btn" >保存<i class="material-icons right">send</i></a>
  </div>

  

</div>

<script>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for i in messages %}
         Materialize.toast('{{ i }}', 5000,'rounded')
      {% endfor %}
  {% endif %}
{% endwith %}

$(function(){
    $("#neWmenu").click(function(){
        $("#formmenu").submit();
    })
})
</script>
